
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif; 
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}


a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-in-out;
}




button {
  border: none;
  background: none;
  cursor: pointer;
}



ul, ol {
  list-style: none;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}

.search {
  margin-top: 8px;
}

.search__wrapper{
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 6px;
}

.search__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;

  margin-left: 8px;
}

.search__field {
  display: flex;
}


.search-input {
  background-color: #F7F7F8;
  color:#000;

  width:100%;
  border-radius: 16px;
  padding:12px 44px;

  font-size: 18px;
  font-weight: 500;

  border:none;
}

.search-input::placeholder {
  color:#C3C3C6;

  font-size: 18px;
  font-weight: 500;

  position: relative;
  top: 3px;
}

.search__field {
  position: relative;
}

.search__field::after{
  content:'';
  width:20px;
  height: 20px;
  background-image: url(svg/search.svg);

  position: absolute;
  left: 14px;
  top:12px;
}

.search__field::before{
  content:'';
  width:20px;
  height: 20px;
  background-image: url(svg/list.svg);

  position: absolute;
  right: 14px;
  top:12px;
}

.employee-list__wrapper {
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
}

.employee-list__job-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 0 16px;
  margin: 0 auto;
  width: 100%;

  border-bottom: 1px solid #C3C3C6;
}

@media (min-width:700px) {
  .employee-list__job-list{
      flex-direction: row;
  }
}

.employee-list__list{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.employee-list__job-item {
font-weight: 600;
font-size: 15px;

padding: 8px 12px;

}

.employee-list__job-item--active {
  border-bottom: 2px solid #6534FF;
}

.employee-list__wrapper {
  margin-top: 22px;
}

.employee-list__card {
  display: flex;
  gap: 16px;
  align-items: center;
}

.employee-list__card-img {
  width: 72px;
  height: 72px;

  border-radius: 50%;
}

.employee-list__card-name {
  font-size: 16px;
  font-weight: 500;
}

.employee-list__card-name-job {
  font-size: 14px;
  font-weight: 500;
  color:#97979B;
}

.employee-list__card-job-title {
  color: #55555C;
  font-size: 13px;
  font-weight: 400;
}